.footer {
  width: 100%;
  margin-top: 6rem;
  padding: 1rem;
  background-color: $light-gray;
  overflow-x: hidden;

  @include tablet {
    padding: 1rem 4rem;
  }

  &__copywrite {
    @include headings;
    font-weight: $mediumWeight;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-size: 0.85rem;
    color: $gray-white;
    justify-content: flex-end;

    @include tablet {
      justify-content: flex-end;
    }
  }

  &__nav {
    height: 100%;
    font-size: 0.85rem;
  }

  &__links {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: flex-end;
    margin: 0;
  }

  &__link-item {
    padding: 0.25rem;
    margin: 0;

    &:not(:first-child) {
      margin-left: 1rem;
    }
  }

  &__link-text {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.85rem;
    &:hover {
      color: $main-accent-color;
    }
  }
}
