@use "../global-styles/mixins.scss";

//page
.page {
  @include mixins.bodyFontFamily;
  @include mixins.grid;
}

.main-content {
  @include mixins.row;
  display: flex;
}

.project-title {
  @include mixins.headerFontFamily;
  color: #127658;
  font-size: 3em;
  margin-bottom: 2rem;
  text-align: center;

  @include mixins.fit-to(tablet) {
    @include mixins.col(8);
    @include mixins.col-offset(2);
  }
}

.write-up {
  @include mixins.col(12);
  font-size: 1.125em;

  @include mixins.fit-to(tablet) {
    @include mixins.col(8);
    @include mixins.col-offset(2);
  }

  h1,
  h2,
  h3,
  h4 {
    @include mixins.headerFontFamily;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  h2 {
    font-size: 2rem;
    color: #127658;
    margin-top: 3.5rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  p {
    margin-bottom: 1rem;
  }

  ul {
    list-style: circle;
    margin: 1rem 0;
    padding-left: 2rem;

    ul {
      padding-left: 2rem;
    }
  }

  li {
    margin-bottom: 1rem;
  }
}
