.page {
  &__main-content {
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 0 2.5rem;
    overflow-x: hidden;
  }

  &__tags {
    margin: 0;
  }

  &__write-up {
    h3 {
      color: $green;
    }

    hr {
      width: 100%;
      margin-top: 2rem;
      margin-left: div($gridPadding, 2);
      margin-right: div($gridPadding, 2);
      margin-bottom: 0;
      border-color: rgba(0, 0, 0, 0.2);
    }

    figcaption {
      justify-content: flex-end;
      margin-top: -0.5rem;
      margin-bottom: 1.5rem;
    }

    &__chunk {
      margin-top: 1rem;
    }
  }
}
