.page {
  &__main-content {
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 0 2.5rem;
    overflow-x: hidden;
  }

  &__project-title {
    // text-align: center;
    // background-color: red;
  }

  &__tags {
    margin: 0;
  }

  &__write-up {
    // h2 {
    //   padding-top: 1rem;
    //   border-top: 1px solid rgba(0, 0, 0, 0.2);
    // }

    h3 {
      color: $green;
    }
  }
}
