.project-preview {
  margin-bottom: 3rem;

  &__project-title {
    margin: 0.5rem 0;
    color: $black;
  }

  &__project-info {
    padding-top: 0.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__time-frame,
  &__team {
    @include headings;
    font-weight: $mediumWeight;
    margin-bottom: 0.125rem;
  }

  &__time-frame {
    color: $med-gray;
    opacity: 0.6;
  }

  &__team {
    color: $med-gray;
  }

  &__tags {
    display: flex;
    flex-flow: row wrap;
    margin: 1rem 0 0;

    .tag {
      display: inline-flex;
      padding: 0.25em 0.5em;
      font-size: 0.88rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      margin-top: 0;
      margin-bottom: 1em;
      margin-right: 1em;
    }
  }
}
