@use "../global-styles/mixins.scss";

.projectPreview {
  display: flex;
  margin-bottom: 3rem;
  flex-flow: column nowrap;

  @include mixins.fit-to(tablet) {
    flex-flow: row nowrap;
  }
}

.image-container {
  @include mixins.col(12);
  // width: 100%;

  @include mixins.fit-to(tablet) {
    @include mixins.col(6);
    // width: 50%;
  }
}

.project-info {
  @include mixins.col(12);
  // width: 100%;
  padding-top: 1em;

  @include mixins.fit-to(tablet) {
    @include mixins.col(6);
    // width: 50%;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  }

  @include mixins.fit-to(desktop) {
    @include mixins.col(6);
    // width: 50%;
  }
}

.project-title {
  @include mixins.headerFontFamily;
  font-size: 2em;
  line-height: 110%;
  margin-bottom: 1rem;
}

.project-link {
  color: black;
  text-decoration: none;

  &:visited,
  &:hover,
  &:active {
    color: black;
  }
}

.team,
.time-frame {
  @include mixins.headerFontFamily;
  font-weight: 500;
  font-size: 1em;
  color: #127658;
  margin-bottom: 0.25rem;
}

.time-frame {
  color: rgba(0, 0, 0, 0.5);
}

.tags {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1em;
}

.tag {
  display: inline-flex;
  padding: 0.25em 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 1em;
}
