.project-preview {
  margin-bottom: 2rem;

  &__project-title {
    margin: 0.5rem 0;
    color: $black;
  }

  &__project-info {
    padding-top: 0.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__time-frame,
  &__team {
    @include headings;
    color: #666;
    font-weight: $mediumWeight;
    margin-bottom: 0.125rem;
  }

  &__team {
    color: $main-accent-color;
  }

  &__tags {
    display: flex;
    flex-flow: row wrap;
    margin: 1rem 0 0;

    .tag {
      display: inline-flex;
      padding: 0.25em 0.5em;
      border: 1px solid rgba(0, 0, 0, 0.1);
      margin-top: 0;
      margin-bottom: 1em;
      margin-right: 1em;
    }
  }
}
