.site-header {
  padding-top: 3rem;
  margin-bottom: 8rem;
  overflow-x: hidden;
}

.logo {
  display: block;
  width: 5rem;
  height: 100%;
}

.nav-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  height: 100%;
  width: 100%;
}

.nav-link-item {
  display: inline-flex;
  padding-left: 2rem;
}

.nav-link-text {
  &:hover {
    text-decoration: underline;
  }
}
