.site-header {
  padding-top: 1rem;
  margin-bottom: 2rem;
  overflow: hidden;

  @include tablet {
    padding-top: 3rem;
    margin-bottom: 8rem;
  }
}

.logo {
  display: block;
  width: 4.5rem;
  height: 100%;

  @include tablet {
    width: 5rem;
  }
}

.logo-svg {
  fill: $main-accent-color;
}

.nav-links {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.nav-link-item {
  display: inline-flex;
  margin: 0;
  &:not(:first-child) {
    padding-left: 1.5rem;
  }
}

.nav-link-text {
  @include headings;
  font-weight: $mediumWeight;
  &:hover {
    text-decoration: underline;
  }
}
