$large-screen: 1080px;
$med-screen: 960px;
$small-screen: 880px;

@mixin mobile {
  @media screen and (min-width: ($small-screen)) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $med-screen) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $large-screen) {
    @content;
  }
}
