@use "sass:math";
html {
  font-size: $base-font;
}

body {
  @include body;
  font-weight: $normalWeight;
  font-size: $base-font;
  line-height: 1.5;
  color: $black;
}

p {
  color: $black;
  font-size: 1rem;
  overflow-wrap: break-word;
  hyphens: auto;
}

p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 1.5rem;
}

.bold,
b {
  font-weight: $boldWeight;
}

.strong,
strong {
  font-weight: $boldWeight;
}

blockquote {
  display: block;
  border-left: 3px solid $main-accent-color;
  margin-left: 0;
  margin-bottom: 1.5rem;
}

figcaption {
  font-size: 0.85rem;
  color: $main-accent-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include headings;
  font-weight: $boldWeight;
  color: $black;
  overflow-wrap: break-word;
  hyphens: manual;
}

h5,
h6 {
  font-size: 1rem;
}

h6 {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.125em;
}

ul {
  font-size: 1rem;
  list-style: disc;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

li {
  margin-bottom: 0;
  overflow-wrap: break-word;
  hyphens: auto;

  & + & {
    margin-top: 0.5rem;
  }
}

a {
  color: $black;
  text-decoration: none;

  &:visited,
  &:hover,
  &:active {
    color: $black;
  }
}

.clear-list-style {
  @include clear-list-style;
}
